
*{
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
}
.dots-container{

  padding: 0;
  top :0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  display: flex;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  transition: all 0.5 ease-out;
  position: fixed;
}
.lodaer{
    opacity: 0;
    display: none;
}
.dots{
  animation: bounce 1.5s infinite linear;
  background: #312222;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  text-align: center;
  width: 20px;
}

.dots:nth-child(1){
  animation-delay: .2s;
}
.dots:nth-child(2){
  animation-delay: .4s;
}
.dots:nth-child(3){
  animation-delay: .6s;
}
.dots:nth-child(4){
  animation-delay: .8s;
}
.dots:nth-child(5){
  animation-delay: 1s;
}
@keyframes bounce {
    0% {
			transform: translateY(0);
    }
  	15% {
        transform: translateY(-15px);
    }
    30% {
        transform: translateY(0);
    }
}

/* .hover:hover {
    display: block;
} */
/* .hover, .hover-1, .hover-2, .hover-3 {
  display: block;
} */

.dropdow {
  position: relative;
  display: inline-block;

} 

.dropdown-content-1, .dropdown-content, .dropdown-content-2, .dropdown-content-3 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* padding: 12px 16px; */
  z-index: 1;
  /* top: 100px; */
}




ul {
  margin: 0 auto;
}
.hh{
  font-size:1rem;

}
.po-1 {
  top: 6rem;
  overflow: hidden;
}
.nav-link:hover {
  color: #EF1B48;
}
.post img {
  transition: transform 1s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(50%);
  overflow: hidden;
}

.post:hover img {
  filter: brightness(100%);
  transform: scale(1.1);
  overflow: hidden;
}
.blog-conten a{
  color:rgb(251, 250, 250);
}
.blog-conten p{
  color:rgb(251, 250, 250);
}

.blog-conten p:hover{
  color: #EF1B48;
}
.blog-content a{
  color:rgb(5, 5, 5);
}
.blog-content p{
  color:rgb(15, 14, 14);
}

.blog-content p:hover{

  color: #EF1B48;
}
.hover a:hover{
  
  color: #EF1B48;
}
.top-1{
  bottom: 20px;
  left: 35px;
}
.top-2{
  top: 183px;
  right: 214px;
}
.top-3{
  bottom: 20px;
  right: 214px;
}
/* up-animation */

.img-up  {
  transition: 0.5s;
}
.img-up:hover {
  transform: translateY(-20px);
}
.card-text {
  color: black;
}
.font-10{
  font-size: 12px;
}
.bg-body-secondar{
  background-color: #d4dfe3;
  font-size: 12px;
  font-family: initial;
}
.bt{
  background-color: #EF1B48;
  border-radius: 20px; 
  

}
.bt:hover{
  background-color: black;
}
.slideCol p { margin: 0 15px !important; }

.scroller {
   height: 70pt;
   line-height: 70pt;
   overflow: hidden;
}

.hhh{
  align-items: center;
}

.inner:after, .inner:before {
  position: absolute;
  color: #16a085;
  top: 0;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.scroller .inner { animation: 10s normal infinite running scroll; }
@keyframes scroll {
   0%  	{margin-top: 0px;}
   15% 	{margin-top: 0px;}

   25%  {margin-top: -70pt;}
   40%  {margin-top: -70pt;}
   
   50%  {margin-top: -140pt;}
   65%  {margin-top: -140pt;}

   75%  {margin-top: -210pt;}
   90%  {margin-top: -210pt;}

   100% {margin-top: 0px;}
}

